<%- include("partials/header"); -%>

<h1 class="title">Uit de <span class="smallerhome">basis</span>school geklapt!</h1>


<h4>Vierenveertig jaar werken als onderwijzer. Waarvan de laatste dertien
jaar als vervanger op twintig scholen. Dán heb je wat te vertellen!</h4>

<br >
<br >
<br >
<h2 ><a id="title2" href="/dynamisch">Dynamische verhalen</a></h2> Alles over het wel en wee van de

basisscholen van Dynamiek, in

Limburg.
<br >
<br >

<h2 ><a id="title2" href="/kort">Korte verhalen</a></h2> Sommige verhalen verschenen eerder in

De Echo.
<br >
<br >
<h2><a id="title2" href="/kind">Versjes en kinderuitspraken</a></h2>Een aantal versjes komt uit het
boekje “Moet ik
nou nog lang op school blijven?”
<br >
<br >



<%- include("partials/footer"); -%>
