<form class="" action="/login" method="post">
<p>Gebruikersnaam:</p>
  <input type="email" name="username" value="">
  <p>Wachtwoord:</p>
  <input type="password" name="password" value="">
  <button type="submit" name="button">inloggen</button>
</form>
